{% extends 'base.html' %}

{% block title %} New User Form {% endblock %}

{% block content %}
<h1>Create a user</h1>
<form action="/user_form" method="POST">
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input required type="text" class="form-control" placeholder="Enter a first name" id="first-name" name="first-name">
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input required type="text" class="form-control" placeholder="Enter a last name" id="last-name" name="last-name">
    </div>
    <div class="form-group">
        <label for="img-url">Image URL</label>
        <input type="url" class="form-control" placeholder="Provide an image of this user" id="img-url" name="img-url">
    </div>
    <button type="submit" class="btn btn-success float-right">Add</button>
</form>

{% endblock %}